#formplatos, #formbebidas, #formcomplementos{
    display: none;    
}
.alerta, #alertacantidadbebida{
    display: none;
}
#seccionpedidos, #botonesproductos{
    display: none;    
}
#botonesplatos{
    max-width: 25rem;
}