#formplatos, #formbebidas, #formcomplementos{
    display: none;    
}
.alerta, #alertacantidadbebida{
    display: none;
}
#seccionpedidos, #botonesproductos , #secciondetallepedidos{
    display: none;    
}
#botonesplatos{
    max-width: 25rem;
}
#totalapagar{
    font-size: 2.5rem;
}
#botonaumentarplato, #botonaumentarbebida, #botonaumentarcomplemento{
    display: none;
}